body{
    background-image: url('./resources/background_SVG.svg');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

.contenedor-principal{
    padding: 0 1rem;
}

.contenedor-items{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#preloader_hojas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1000;
    background-color: #fdfdfd;
}

#contenedor-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1000;
}

#logo_ucn{
    height: 5rem;
    width: fit-content;
    z-index: 1500;
}

/** animaciones svg */
#logo_ucn{
    transition: all 1s;
    animation: appearLogo 2s;
}

#first{
    transform-origin: center;
    animation: rotateFirst 3s linear infinite;
}
#second{
    transform-origin: center;
    animation: rotateSecond 3s linear infinite;
}
#third{
    transform-origin: center;
    animation: rotateThird 3s linear infinite;
}

@keyframes appearLogo {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotateFirst {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateSecond {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotateThird {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.frame_document{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 30px;
    margin: 3rem 0;
    border: none;
    width: 100%;
    height: 100%;
}